.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
  }
  .item {
    order: 5; /* default is 0*/ 
  }

  .flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    /*justify-content: space-around;*/
    
    padding: 0 auto;
    margin: 0 auto;
    list-style: none;
  }
  
  .flex-item {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: #B0C4DE;
    padding-top: 30px;
    padding-bottom: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 240px;
    height: 150px;
    margin-top: 10px;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin-right:40px;
  }

  .flex-item2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 0px;
    padding-bottom: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 520px;
    margin-top: 10px;
    line-height: 0px;
    color: black;
    font-weight:lighter;
    font-size: 1em;
    text-align: center;
    margin-right:40px;
  }

  .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    flex: 1 100%;
    background-color: #B0C4DE;
  }
  
  .picture img{
    height:150px;
    width:150px;
    display:inline-flex;
    box-shadow: 0px 0px 10px #777;
    border-radius: 60%;
  }
   
  body {
    padding: 2em; 
  }

  .navigation {
    display: flex;
    flex-flow: row wrap; 
    list-style: none;
    margin: 0; 
    background: #B0C4DE;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding-right: 1em;
    padding-left: 1em;
    padding-top:1em;
    padding-bottom:1em;
    margin-right:1em;/*taille pour le menu au debut*/
    margin-left:1em;
    color: black;
  }
  
  .navigation a:hover {
    background: #4682B4;
  }
  hr {
    border: none;
    border-top: 3px double #333;
    color: #4682B4;
    text-align: center;
    height: 1px;
    margin: 0 auto;
}
figure {
  margin: 0 auto;
  margin-top:-10px;
}
.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #4eb5f1;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}
/*.formation {
    text-align:center;
    font-weight:lighter;
    padding:2%;
    width:100%;
    height:100%;
  }

  .xp {
    text-align:center;
    font-weight:lighter;
    padding:2%;
    width:100%;
    height:100%;
  }
  
.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

.aside-3 {
  background: gold;
}

.aside-4{
  background: hotpink;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 0 0 0 0 ; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .formation    { order: 2; }
  .aside-2 { order: 3; }
  .aside-3  { order: 4; }
  .xp { order: 5; }
}*/

.button {
  padding: 15px 100px;
  margin:10px 4px;
  color:#5181a9;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  }
  .button{
  border:1px solid transparent; 
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  }
  .button::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:2;
  width: 0%;
  height:1px;
  background: #4682B4;
  box-shadow: inset 0px 0px 0px #4682B4;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }
  .button:hover::before {
  width:100%;
  }
  .button::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #4682B4;
  }
  .button:hover::after {
  width:100%;
  }
  .button:hover{
  border-bottom:1px solid #4682B4;

  }
  .rotation90 {
    -webkit-transform: rotate(340deg);
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    transform: rotate(340deg);
  }

  /*langage informatique*/
  .bar {
    /* font-size: 10px */
    width: 32em;
    height: 0.7em;
    border-radius: 0.5em;
    position: relative;
    background: #f2f2f2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    text-align: center;
  }
  .bar .percentage {
    position: relative;
    font-size: 1em;
    background: #4682B4;
    height: 0.7em;
    border-radius: 0.5em;
  }